body{
    width: 100%;
    margin-top: -20px;
    height: 100%;
    
    margin-left: 5px;
    margin-bottom: -20px;
}

.guide{
    width: 13.4%;
    height: 100%;
    background-color: #4F595D;
    text-align: center;
    align-content: center;
    position:fixed;
    top:0px;
    left:0px;
    
}

.logo{
    width: 100%;
    height: 100%;
    border-radius: 200px;
    
}

.link{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px
}

.links{
    padding: 5px;
    font-size: 200%;
}

.line{
    background-color: red;
    width: 100%;
    height: 2px;
    margin: 20px 0 0;
}

.paginahome{
    align-items: center;
    margin-left: 13%;
    width: 87%;
    height: 100%;
    
}

.pagina{
    align-items: center;
    margin-left: 13%;
    width: 87%;
    height: 100%;
    padding-bottom: 150px;
    background-color: #4655A5;
    padding-top: 10px;
}


.imagem-slideshow{

    
    width: 100%  ;
}

.textoslide{
    display: flex;
    justify-content: space-between;
    margin: 0px 2%;
}

.about{
    display: flex;
    flex-direction: column;
}

.container{
        display: flex;
        text-align: justify;
        margin-top: 80px;
    }

.containerimages{
    padding-left: 20%;
    width: 30%;
    height: 20%;
    margin-bottom: 20px;
}

h4{
    text-align: justify;
    width: 30%;
    padding-left: 100px;
    color:red;
    font-size: 40px;
}

.cartao{
    margin: 20px;
    border: 2px solid red;
    border-color: red;
    padding: 1%;
    display: flex;
}

.textocartao{
    font-size: 30px;

}

.cartaoimg{
    width: 300px;
    height: 250px;
    padding: 25px;
}

.contactImages{
    display: flex;
    justify-content: space-between;
}

.contactImage{
    width: 300px;
    height: 250px;
}


h2{
    color: red;
    font-size: 300%;

}

.about{
    background-color: #4655A5;
}

h3{
    color: white;
    font-size: 40px;
    padding: 60px;
    margin: -30px;
}

a{
    color: white;
}

.contact{
    margin-left: 10px;
    margin-top: 20px;
    font-size: 20px;
}

.contactImag{
    
    padding: 200px;
}

.footer{
    background-color: #4F595D;
    height: 50px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footertext{
    color: white;

}